<table class="table table-borderless">
    <thead>
        <tr class="d-flex">
            <th scope="col" class="col-1 text-center">Interface</th>
            <th scope="col" class="col-1">Type</th>
            <th scope="col" class="col-1">Vlan</th>
            <th scope="col" class="col-1">Destination</th>
            <th scope="col" class="col-4">Comment</th>
            <th scope="col" class="col-1">Commutation ID</th>
            <th scope="col" class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-flex table-success">
            <th scope="row" class="col-1 text-center">Gi 1/0/1</th>
            <td class="col-1">Trunk</td>
            <td class="col-1">76,97,175</td>
            <td class="col-1">502-A3-24</td>
            <td class="col-4">новая коммутация</td>
            <td class="col-1">
                43156
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-arrow-right"></i></a>
            </td>
            <td class="col-3 text-center">
                <a href="equipment.html" class="btn-sm btn-circle btn-warning"><i class="fas fa-pen"></i></a>
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-info"></i></a>
            </td>
        </tr>
        <tr class="d-flex table-danger">
            <th scope="row" class="col-1 text-center">Gi 1/0/2</th>
            <td class="col-1">Access</td>
            <td class="col-1">999</td>
            <td class="col-1">-</td>
            <td class="col-4">-</td>
            <td class="col-1">-</td>
            <td class="col-3 text-center">
                <a href="equipment.html" class="btn-sm btn-circle btn-warning"><i class="fas fa-pen"></i></a>
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-info"></i></a>
            </td>
        </tr>
        <tr class="d-flex table-success">
            <th scope="row" class="col-1 text-center">Gi 1/0/3</th>
            <td class="col-1">Access</td>
            <td class="col-1">76</td>
            <td class="col-1">601-A10-8</td>
            <td class="col-4">ftp</td>
            <td class="col-1">
                16745
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-arrow-right"></i></a>
            </td>
            <td class="col-3 text-center">
                <a href="equipment.html" class="btn-sm btn-circle btn-warning"><i class="fas fa-pen"></i></a>
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-info"></i></a>
            </td>
        </tr>
        <tr class="d-flex table-danger">
            <th scope="row" class="col-1 text-center">Gi 1/0/4</th>
            <td class="col-1">Access</td>
            <td class="col-1">999</td>
            <td class="col-1">-</td>
            <td class="col-4">-</td>
            <td class="col-1">-</td>
            <td class="col-3 text-center">
                <a href="equipment.html" class="btn-sm btn-circle btn-warning"><i class="fas fa-pen"></i></a>
                <a href="equipment.html" class="btn-sm btn-circle btn-primary"><i class="fas fa-info"></i></a>
            </td>
        </tr>                                    
    </tbody>
</table>