{% extends 'main/base.html' %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">ТШ {{ rack.number }}</h1>

<!-- табы для оборудования и фоток-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="equip-tab" data-toggle="tab" href="#equip" role="tab" aria-controls="equip" aria-selected="true">Оборудование</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="false">Фото</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- Таб для оборудования-->
    <div class="tab-pane fade mt-3 show active" id="equip" role="tabpanel" aria-labelledby="equip-tab">
        <table class="table table-responsive table-borderless table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                <th scope="col" class="text-center">Place</th>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <!-- перебор оборудования в стойке отсортированного по месту -->
                {% for equip in rack.equipment.all|dictsort:"place" %}
                <tr>
                    <th scope="row" class="text-center">{{ equip.place }}</th>
                    <td>{{ equip.name }}</td>
                    <td>{{ equip.owner }}</td>
                    <td>{{ equip.desc }}</td>
                    <td class="text-center">
                        <!-- GET аргументы для того, чтобы передать в suссess_url нужные параметры -->
                        <a href="{% url 'main:equipment-update' equip.id %}?autozal_slug={{ rack.autozal.slug }}&rack_number={{ rack.number }}" class="btn-sm btn-circle btn-warning">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{% url 'main:equipment-detail' equip.rack.autozal.slug equip.rack.number equip.place %}" class="btn-sm btn-circle btn-primary"><i class="fas fa-arrow-right"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <!-- GET аргументы для того, чтобы передать в suссess_url нужные параметры -->
        <a href="{% url 'main:equipment-add'%}?autozal_slug={{ rack.autozal.slug }}&rack_number={{ rack.number }}" class="btn btn-primary text-right">Добавить <i class="fas fa-plus ml-2"></i></a>
    </div>
    <!-- Таб для фоток-->
    <div class="tab-pane fade mt-3" id="photo" role="tabpanel" aria-labelledby="photo-tab">
        Фото
    </div>
</div>
{% endblock content %}

                                                                        
            