<div class="col-4 pr-0">
    {{ field }}
</div>
{% comment %} <div class="col-4 pr-0">
    <div class="input-group">
        {{ field }}
        <div class="input-group-append">
            <button id="change_vlan" type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseVlan" aria-expanded="false" aria-controls="collapseVlan">
                Изменить
            </button>
        </div>
    </div>
    <div class="collapse mt-2" id="collapseVlan">
        <div class="card card-body">
        Текст
        </div>
      </div>
</div> {% endcomment %}